{% extends 'base.html' %}

{% block content %}
    <h1>Личный профиль пользователя</h1>
    <p>Ваш username: {{ user.username }}</p>
    <p>Ваше имя: {{ user.first_name }}</p>
    {% if generated_token %}
        <p>Ваш токен: {{ generated_token }}</p>
    {% else %}
        <p>У вас пока нет токена</p>
        <form action="{% url 'generate_token' %}">
            <input type="submit" value="Создать токен">
        </form>
    {% endif %}
    <form method="post" action="{% url 'send_msg' %}">
        {% csrf_token %}
        <label>
            <input type="text" name="text">
        </label>
        <input type="submit" value="Отправить сообщение">
    </form>
    {% for msg in messages %}
        <p>Тело сообщения: {{ msg.text }}</p>
        <p>Время отправления: {{ msg.time }}</p>
    {% endfor %}
{% endblock %}